h1 {
    color:#ffffff;
    font-size: 30pt;
    font-weight: 900;
 }
body {
    background-color:#001f3f;
color:#ffffff;
}
header {
    background-color: #7663B1;
}
nav {
    background-color: #7E95BB;
}
main {background-color: 

}
footer {background-color: #7E95BB;
    
}