@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Montserrat|Noto+Sans|Noto+Sans+KR|Ubuntu+Condensed&display=swap');

body {
    background-color:#e061c5;
    color:#080606; 
    /*make sure to set family/size in body */
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15pt;
    font-weight: 10px;
}

/*
TYPOGRAPHY
To call on the font I want to use: 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
*/
h1,
h2, 
h3,
h4,
h5,
h6 {
    font-family: serif;
    margin: 10px 0 10px 0;
}
h1 {
    background-color: #6dc4a0;
    color:#ffffff;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    line-height: 50pt;
    padding-top: 10px;
    padding-bottom: 10px;
 }

h2 {
    color:#5a52d1;
    background-color: blanchedalmond;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding: 10px 0;
    letter-spacing: 2pt;

}

P {
    font-size: 16px;
    line-height: 23px;
    margin: 30px 0;
    padding-top: 20px;
    }

    /* Main containers*/
.wrapper{
    widows: 950px;
/* TOP RIGHT BOTTOM LEFT (LIKE CLOCK) */
    margin: 0px auto;

}
header {
    background-color: rgb(118, 198, 218);
    height: 200px;
    padding: 10px 10px;
    margin: 20px;
}

nav {
    background-color: rgb(240, 64, 152);
    padding: 10px 10px;
    }

nav ul {
   
}
nav ul li {
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a {
    color: red;
    text-decoration: none;
    background-color: azure;
    padding: 5px 8px;
  }

nav ul li a:hover {
    background-color: #6dc4a0;
}

main {
        background-color: rgb(111, 224, 101);
        padding: 20px 0;
}

footer {
        background-color: #7E95BB;
        margin: 10px auto;
        padding-top: 2px;
        padding-bottom: 10px;
}